
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
       {% for melon in cart %}
        <tr>
            <td>{{ melon }}</td>
            <td>{{ cart[melon]["count"] }}</td>
            <td>${{ cart[melon]["price"] }}</td>
            <td>${{ cart[melon]["total"] }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ total }} </h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
